<div class='message'>
  <div>
    <img src='<%= message.gravatar %>?s=30' />
    <span class='body'><%= message.body %></span>
  </div>
  <div>
    <span class='timestamp'><%= moment(message.timestamp).format('MMMM Do YYYY, h:mm:ss a') %></span>
  </div>
</div>
