<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Chat</h1>
    <p>Chat <%= email %></p>
    <img src='<%= gravatar %>' />
  </body>
</html>
