<!DOCTYPE html>
<html>
  <head>
    <title>Express-Chat</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Express-Chat</h1>
    <p>Welcome to Express-Chat</p>
    <form action='/chat' method='POST'>
      <label for='email'>Please enter your email address:</label><br>
      <input type='email' id='email' name='email'/>
      <input type='submit' />
    </form>
  </body>
</html>
