body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
.box {
  border: 1px solid #ccc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}
#messages {
  clear: both;
}
#messages .message span.body {
  margin-left: 5px;
  font-size: 13px;
}
#messages .message span.timestamp {
  font-size: 9px;
}
#people {
  clear: both;
}
#people .person {
  margin: 10px;
  float: left;
  text-align: center;
}
form {
  margin: 10px;
}
form textarea {
  border: 1px solid #ccc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
